In [1]:
import os
import pandas as pd
from collections import defaultdict

# outputs (no validation)

In [ ]:
IN_DIR = 'outputs'
dirs = sorted([os.path.join(IN_DIR,d) for d in os.listdir(IN_DIR)])
out_d = defaultdict(list)
for d in dirs:
    log_dir = os.path.join(d,'train.log')
    args_dir = os.path.join(d,'args.csv')
    if not os.path.exists(log_dir) or not os.path.exists(args_dir):
        continue
    df = pd.read_csv(log_dir)
    arg = pd.read_csv(args_dir)
    mode = arg.loc[0,'mode']
    arg['dir'] = d
    df['dir'] = d
    out_d[mode].append(df)   
    out_d['args'].append(arg)

In [ ]:
args = pd.concat(out_d['args'], ignore_index = True, sort = False)
df_c = pd.concat(out_d['cat'], ignore_index = True, sort = False)
df_h = pd.concat(out_d['hierarchy'], ignore_index = True, sort = False)

### outputs/cnnxml,attentionxml,attention

In [ ]:
df2 = df_c.merge(args,on='dir',suffixes=('_outputs', '_args'))
df2 = df2[df2.epoch_outputs==4]

# df2 = df2[df2['model']=='bert']
# df2 = df2[df2['input']=='data/sic_hierarchy']
# df2 = df2[df2['input']=='data/amazon_hierarchy']
df2 = df2[df2['input']=='data/amazon_hierarchy_2']
df2.loc[:,['dir','loss_args','bert_bottle_neck']+[c for c in df2.columns if 'pAt1' in c]]

In [ ]:
df1 = df_h.merge(args,on='dir',suffixes=('_outputs', '_args'))
df1 = df1[df1.epoch_outputs==4]
df1.loc[:,['model','loss_args']+[c for c in df1.columns if c.startswith('val') and not c.endswith('loss')]]

### outputs/bert

In [ ]:
# heirarchical
df = df_h.merge(args,on='dir',suffixes=('_outputs', '_args'))
df = df[df.epoch_outputs==2]
df = df[df['model']=='bert']
df.loc[:,['dir','model','loss_args']+\
        [c for c in df.columns if c.startswith('bert')]+\
        [c for c in df.columns if c.startswith('val') and not c.endswith('loss')]]

In [ ]:
# catergorical
df = df_c.merge(args,on='dir',suffixes=('_outputs', '_args'))
df = df[df.epoch_outputs==2]
df = df[df['model']=='bert']
df.loc[:,['dir','model','loss_args']+\
        [c for c in df.columns if c.startswith('bert')]+\
        [c for c in df.columns if c.startswith('val') and not c.endswith('loss')]]

# bert validation

In [2]:
IN_DIR = 'bert_val'
dirs = sorted([os.path.join(IN_DIR,d) for d in os.listdir(IN_DIR)])
out_d = defaultdict(list)
for d in dirs:
    log_dir = os.path.join(d,'train.log')
    args_dir = os.path.join(d,'args.csv')
    if not os.path.exists(log_dir) or not os.path.exists(args_dir):
        continue
    df = pd.read_csv(log_dir)
    arg = pd.read_csv(args_dir)
    mode = arg.loc[0,'mode']
    arg['dir'] = d
    df['dir'] = d
    out_d[mode].append(df)   
    out_d['args'].append(arg)

In [3]:
args = pd.concat(out_d['args'], ignore_index = True,sort=False)
df_h = pd.concat(out_d['hierarchy'], ignore_index = True,sort=False)
df_c = pd.concat(out_d['cat'], ignore_index = True,sort=False)

In [10]:
# hierarchical
df2 = df_h.merge(args,on='dir',suffixes=('_outputs', '_args'))

In [11]:
df2.loc[:,['dir','epoch_outputs','bert_bottle_neck']+[c for c in df2.columns if 'pAt1' in c]]

,dir,epoch_outputs,bert_bottle_neck,pAt1,val_pAt1
0,bert_val/190820_175502_bert,0,0,0.472799,0.520966
1,bert_val/190820_175502_bert,1,0,0.540399,0.532329
2,bert_val/190820_175502_bert,2,0,0.565600,0.536461
3,bert_val/190820_175502_bert,evaluate,0,0.538289,NaN
4,bert_val/190820_203835_bert,0,256,0.418140,0.507625
5,bert_val/190820_203835_bert,1,256,0.503502,0.525369
6,bert_val/190820_203835_bert,2,256,0.528494,0.531629
7,bert_val/190820_203835_bert,evaluate,256,0.533126,NaN
8,bert_val/190820_232510_bert,0,128,0.399279,0.501943
9,bert_val/190820_232510_bert,1,128,0.492687,0.522699
10,bert_val/190820_232510_bert,2,128,0.518663,0.529939
11,bert_val/190820_232510_bert,evaluate,128,0.532650,NaN
12,bert_val/190821_125408_bert,0,0,0.475496,0.520774
13,bert_val/190821_125408_bert,1,0,0.540816,0.531952
14,bert_val/190821_125408_bert,2,0,0.566054,0.536671
15,bert_val/190821_125408_bert,3,0,0.592555,0.534447
16,bert_val/190821_125408_bert,4,0,0.625383,0.530053
17,bert_val/190821_125408_bert,evaluate,0,0.530731,NaN
18,bert_val/190821_170643_bert,0,256,0.417469,0.507275
19,bert_val/190821_170643_bert,1,256,0.503102,0.526420
20,bert_val/190821_170643_bert,2,256,0.528461,0.532592
21,bert_val/190821_170643_bert,3,256,0.548434,0.536662
22,bert_val/190821_170643_bert,4,256,0.569407,0.536382
23,bert_val/190821_170643_bert,evaluate,256,0.538079,NaN
24,bert_val/190821_213041_bert,0,128,0.398501,0.499720
25,bert_val/190821_213041_bert,1,128,0.491424,0.521036
26,bert_val/190821_213041_bert,2,128,0.519127,0.529501
27,bert_val/190821_213041_bert,3,128,0.539464,0.534036
28,bert_val/190821_213041_bert,4,128,0.557949,0.534115
29,bert_val/190821_213041_bert,evaluate,128,0.537617,NaN

In [4]:
# categorical 
df2 = df_c.merge(args,on='dir',suffixes=('_outputs', '_args'))

In [5]:
df2.loc[:,['dir','input','epoch_outputs','bert_bottle_neck']+[c for c in df2.columns if '_pAt1' in c]]

,dir,input,epoch_outputs,bert_bottle_neck,H0_pAt1,H1_pAt1,H2_pAt1,H3_pAt1,val_H0_pAt1,val_H1_pAt1,val_H2_pAt1,val_H3_pAt1
0,bert_val/190821_021134_bert,data/sic_hierarchy,0,0,0.685869,0.611667,0.470034,0.447010,0.714274,0.647840,0.528985,0.509104
1,bert_val/190821_021134_bert,data/sic_hierarchy,1,0,0.728691,0.663868,0.550345,0.531593,0.721252,0.656313,0.546152,0.527129
2,bert_val/190821_021134_bert,data/sic_hierarchy,2,0,0.747504,0.684808,0.574382,0.556065,0.723493,0.659754,0.553365,0.535656
3,bert_val/190821_021134_bert,data/sic_hierarchy,evaluate,0,0.721651,0.660154,0.552474,0.535039,NaN,NaN,NaN,NaN
4,bert_val/190821_045429_bert,data/sic_hierarchy,0,512,0.650523,0.573502,0.411245,0.384827,0.713653,0.642412,0.514549,0.490738
5,bert_val/190821_045429_bert,data/sic_hierarchy,1,512,0.707041,0.638992,0.515248,0.492940,0.722101,0.655526,0.539105,0.519137
6,bert_val/190821_045429_bert,data/sic_hierarchy,2,512,0.728966,0.662216,0.542913,0.521706,0.725515,0.660314,0.547220,0.528635
7,bert_val/190821_045429_bert,data/sic_hierarchy,evaluate,512,0.723815,0.660428,0.548755,0.529750,NaN,NaN,NaN,NaN
8,bert_val/190821_073946_bert,data/sic_hierarchy,0,256,0.630847,0.551083,0.383196,0.353626,0.713128,0.641248,0.503861,0.478281
9,bert_val/190821_073946_bert,data/sic_hierarchy,1,256,0.696556,0.626425,0.500486,0.475793,0.723081,0.654913,0.531742,0.510102
10,bert_val/190821_073946_bert,data/sic_hierarchy,2,256,0.721115,0.651991,0.530088,0.508368,0.724613,0.658948,0.540689,0.520835
11,bert_val/190821_073946_bert,data/sic_hierarchy,evaluate,256,0.722295,0.658263,0.540909,0.522626,NaN,NaN,NaN,NaN
12,bert_val/190822_015430_bert,data/sic_hierarchy,0,0,0.687833,0.614004,0.472867,0.449192,0.714957,0.648732,0.531935,0.511625
13,bert_val/190822_015430_bert,data/sic_hierarchy,1,0,0.729224,0.664499,0.550550,0.531617,0.721383,0.657872,0.548060,0.529983
14,bert_val/190822_015430_bert,data/sic_hierarchy,2,0,0.748380,0.686230,0.574900,0.556969,0.723843,0.660804,0.551658,0.533450
15,bert_val/190822_015430_bert,data/sic_hierarchy,3,0,0.768790,0.709443,0.599063,0.581109,0.720490,0.657268,0.550275,0.532784
16,bert_val/190822_015430_bert,data/sic_hierarchy,4,0,0.793111,0.736709,0.627403,0.609047,0.712804,0.653705,0.548428,0.531401
17,bert_val/190822_015430_bert,data/sic_hierarchy,evaluate,0,0.711914,0.653093,0.547641,0.531046,NaN,NaN,NaN,NaN
18,bert_val/190822_061144_bert,data/sic_hierarchy,0,512,0.650346,0.572039,0.413401,0.386448,0.714449,0.645537,0.516038,0.493644
19,bert_val/190822_061144_bert,data/sic_hierarchy,1,512,0.707664,0.639230,0.515918,0.492977,0.721269,0.657014,0.538404,0.517815
20,bert_val/190822_061144_bert,data/sic_hierarchy,2,512,0.729078,0.663027,0.542655,0.522234,0.725016,0.660183,0.546913,0.527540
21,bert_val/190822_061144_bert,data/sic_hierarchy,3,512,0.750586,0.683425,0.565111,0.544494,0.724053,0.660892,0.550476,0.530132
22,bert_val/190822_061144_bert,data/sic_hierarchy,4,512,0.773404,0.707235,0.586414,0.565567,0.719693,0.658064,0.549111,0.529922
23,bert_val/190822_061144_bert,data/sic_hierarchy,evaluate,512,0.718786,0.657731,0.549196,0.532307,NaN,NaN,NaN,NaN
24,bert_val/190822_103332_bert,data/sic_hierarchy,0,256,0.631789,0.554250,0.382497,0.355356,0.713679,0.642499,0.505279,0.480863
25,bert_val/190822_103332_bert,data/sic_hierarchy,1,256,0.696285,0.629126,0.500014,0.478045,0.720814,0.653547,0.531208,0.508947
26,bert_val/190822_103332_bert,data/sic_hierarchy,2,256,0.720916,0.652928,0.529979,0.508971,0.725348,0.659658,0.541039,0.521159
27,bert_val/190822_103332_bert,data/sic_hierarchy,3,256,0.742254,0.675231,0.552184,0.532089,0.724526,0.659929,0.546581,0.526280
28,bert_val/190822_103332_bert,data/sic_hierarchy,4,256,0.763413,0.696276,0.572403,0.552885,0.721733,0.659071,0.548463,0.529440
29,bert_val/190822_103332_bert,data/sic_hierarchy,evaluate,256,0.719634,0.658417,0.548334,0.530219,NaN,NaN,NaN,NaN
30,bert_val/190826_162038_bert,data/amazon_hierarchy_2,0,512,0.875711,0.579479,0.365356,NaN,0.915432,0.673861,0.497946,NaN
31,bert_val/190826_162038_bert,data/amazon_hierarchy_2,1,512,0.922991,0.682346,0.515542,NaN,0.924703,0.695762,0.544655,NaN
32,bert_val/190826_162038_bert,data/amazon_hierarchy_2,2,512,0.945582,0.726204,0.569296,NaN,0.928913,0.705808,0.563196,NaN
33,bert_val/190826_162038_bert,data/amazon_hierarchy_2,evaluate,512,0.923463,0.702419,0.555910,NaN,NaN,NaN,NaN,NaN
34,bert_val/190828_033151_bert,data/amazon_hierarchy_2,0,0,0.894137,0.632758,0.431654,NaN,0.915858,0.680480,0.521506,NaN
35,bert_val/190828_033151_bert,data/amazon_hierarchy_2,1,0,0.935245,0.714101,0.562198,NaN,0.925560,0.701943,0.559020,NaN
36,bert_val/190828_033151_bert,data/amazon_hierarchy_2,2,0,0.957968,0.757137,0.613801,NaN,0.926093,0.704715,0.568763,NaN
37,bert_val/190828_033151_bert,data/amazon_hierarchy_2,evaluate,0,0.921496,0.700263,0.562783,NaN,NaN,NaN,NaN,NaN